<div class="super_container">

	<div class="brands">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="brands_slider_container">
						
						<div class="owl-carousel owl-theme brands_slider">
							
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><%= image_tag("brands_1.jpg") %></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><%= image_tag("brands_2.jpg") %></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><%= image_tag("brands_3.jpg") %></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><%= image_tag("brands_4.jpg") %></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><%= image_tag("brands_5.jpg") %></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><%= image_tag("brands_6.jpg") %></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><%= image_tag("brands_7.jpg") %></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><%= image_tag("brands_8.jpg") %></div></div>

						</div>
						
						<div class="brands_nav brands_prev"><i class="fa fa-chevron-left"></i></div>
						<div class="brands_nav brands_next"><i class="fa fa-chevron-right"></i></div>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>
