<footer class="footer">
	<div class="container">
		<div class="row">

			<div class="col-lg-3 footer_col">
				<div class="footer_column footer_contact">
					<div class="logo_container">
						<div class="logo"><a href="#">E-Tech</a></div>
					</div>
					<div class="footer_contact_text">
						<p>Rua Henrique Schwerin 300</p>
						<p>Erechim, BR</p>
					</div>
					<div class="footer_social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube"></i></a></li>
							<li><a href="#"><i class="fa fa-google"></i></a></li>
							<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-2 offset-lg-2">
				<div class="footer_column">
					<div class="footer_title">Categorias</div>
					<ul class="footer_list">
						<li><a href="#">Categoria 1</a></li>
						<li><a href="#">Categoria 2</a></li>
						<li><a href="#">Categoria 3</a></li>
						<li><a href="#">Categoria 4</a></li>
						<li><a href="#">Categoria 5</a></li>
					</ul>
					<ul class="footer_list">
						<li><a href="#">Categoria 6</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2">
				<div class="footer_column">
					<ul class="footer_list footer_list_2">
						<li><a href="#">Categoria 7</a></li>
						<li><a href="#">Categoria 8</a></li>
						<li><a href="#">Categoria 9</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2">
				<div class="footer_column">
					<div class="footer_title">Ajuda</div>
					<ul class="footer_list">
						<li><a href="#">Minha Conta</a></li>
						<li><a href="#">Carrinho</a></li>
						<li><a href="#">Como comprar?</a></li>
						<li><a href="#">FAQs</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</footer>


<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col">
				
				<div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
					<div class="copyright_content">
Copyright &copy;<%= Time.current.year %> Todos os direitos reservados.</div>
					<div class="logos ml-sm-auto">
						<ul class="logos_list">
							<li><a href="#"><%= image_tag("logos_1.png") %></a></li>
							<li><a href="#"><%= image_tag("logos_2.png") %></a></li>
							<li><a href="#"><%= image_tag("logos_3.png") %></a></li>
							<li><a href="#"><%= image_tag("logos_4.png") %></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>